/* Import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Overlock+SC');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Karla');

/* Header title style with background image of Smith */
header {
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    height: 250px;
    width: 1100px;
    padding: 20px;
    background-image: url("images/smithcollege.jpg");
}

/* Wrap the body so there is whitespace on either side */
#wrap {
    width: 1100px;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
    /*background-color: #eee;*/
    background-color: #edf3fc;
    padding: 20px;
}

/* Header title font and color */
h1 {
    color: #373b82;
    font-family: 'Overlock SC', cursive;
	text-shadow: 4px 4px 0px #FFFFFF, 8px 8px 0px #1d1f44;
	font-size: 500%;
    z-index: 10;
    text-align: center;
}

/* Style the checkbox heading */
label {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

/* The left column of the table with the navigation bar */
#categories {
    padding: 10px;
    background-color: #90a8cc;
    width: 180px;
}

/* The right column of the table that displays the search results */
#display {
    width: 1000px;
    padding-left: 100px;
}

/* Style the submit button */
button {
    padding-top: -10px;
    background-color: #476699;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 8px 32px;
}

/* Submit button turns a darker colour when clicked */
button:active {
    background-color: #384f75;
}
